<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home - Ledyard Technologies</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/services.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
   <style>
     header {
        min-height: 45%;
    }
    .yeahsz {
        background-color: #F9F5F2;
    }

    .support {
        text-align: center;
        font-size: large;
        color: white;
    }

    #fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    padding-bottom: 10px;
    max-width: 100%;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #ff5252;
    border-color: #ff5252;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #cc2929;
    border-color: #ff5252;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #ff5252;
    border-color: #ff5252;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}   
    </style>
</head>

<body>

    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                	<img src="https://secureservercdn.net/72.167.241.180/c68.129.myftpupload.com/wp-content/uploads/cropped-Logo-2048x543.png" width="150" height="30">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a style="color: black; font-weight: bold" href="/">Home</a>
                    </li>
                    <li  >
                        <a style="color: black; font-weight: bold" href="/about">About</a>
                    </li>
                    <li class="active">
                        <a style="color: black; font-weight: bold" href="/contact">Contact</a>
                    </li>

                </ul>
                
            </div>
        </div>
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Contact</h1>
            </div>
        </div>
    </header>




    <div class="support" style="background-color: #222222;">
      <br>  Sales<br>sales@ledyardtech.com<br>or<br>(832) 321-8983 (Voicemail Only)<br><br>

Support<br>support@ledyardtech.com<br>or<br>(832) 321-8983 (Voicemail Only)<br>‎
    </div>
    

    <div class="fcf-body">

        <div id="fcf-form">
        <h3>or you can just send us a message right here!</h3>
    
        <form id="fcf-form-id" class="fcf-form-class" method="post" action="contact-form">
            
            <div class="fcf-form-group">
                <label for="Name" class="fcf-label">Your name</label>
                <div class="fcf-input-group">
                    <input type="text" id="Name" name="name" class="fcf-form-control" required>
                </div>
            </div>
    
            <div class="fcf-form-group">
                <label for="Email" class="fcf-label">Your email address</label>
                <div class="fcf-input-group">
                    <input type="email" id="Email" name="email" class="fcf-form-control" required>
                </div>
            </div>
    
            <div class="fcf-form-group">
                <label for="Message" class="fcf-label">Your message</label>
                <div class="fcf-input-group">
                    <textarea id="Message" name="message" class="fcf-form-control" rows="6" maxlength="3000" required></textarea>
                </div>
            </div>
    
            <div class="fcf-form-group">
                <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Send Message</button>
            </div>
    

    
        </form>
        </div>
    
    </div>

    <footer class="page-footer">
    
        <div class="partner">
        	<div class="container">
				<h2 class="section-heading">Our Partners</h2><br>
			<p><img onClick="window.location.href='https://www.kerkton.com/'" src="https://secureservercdn.net/72.167.241.180/c68.129.myftpupload.com/wp-content/uploads/Orna-Sized.png"><br><br>Kerkton Security Technologies LLC</p> <br><br>
            <p><img onClick="window.location.href='https://www.pulseway.com/'" src="https://secureservercdn.net/72.167.241.180/c68.129.myftpupload.com/wp-content/uploads/Pulseway-Sized.png"><br><br>Pulseway RMM Software</p>
        	</div>
            
        </div>
        	
        <div class="small-print">
        	<div class="container">
        		<p>© 2021. Ledyard Technology Services. All Rights Reserved. All trademarks are the property of their respective owners.</p>
        	</div>
        </div>
    

    </footer>

    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/custom.js"></script>

</body>

</html>


